#numpy
#queue
#opencv-python
opencv-python-headless==4.5.1.48
streamlit
#av
requests
#PIL
#io
# mediapipe==0.10.9 # later versions are not supporting pose estimation?
mediapipe
#streamlit_webrtc
#json
